<% comment ||= @comment %>
<div class="comment" id="<%= "comment-" << comment.id.to_s %>">
  <%= link_to gravatar_for(comment.user, 40), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <span class="content"><%= comment.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words comment.created_at %>
  </span>
  <% if user_signed_in? %>
  <% if comment.user.is_user? current_user or current_user.is_admin? %>
  <div class="dropdown delete">
    <button class="btn dropdown-toggle btn-dropdown" type="button" data-toggle="dropdown">
      <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <a class="edit-comment" data-id="<%= comment.id %>">edit</a>
        </li>
        <li>
          <a class="delete-comment" data-id="<%= comment.id %>" post-id="<%= comment.post.id %>">delete</a>
        </li>
      </ul>
    </div>
    <% end %>
    <% end %>
</div>
