<%= form_for @post, html: { multipart: true } do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="form-group">
    <%= text_field_tag :tags, "", placeholder: "Input tags", id: "input-tags", required: true %>
  </div>
  <div class="form-group">
    <%= f.text_field :title, placeholder: t(".placeholder_title"),
    class: "txt-post form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.text_area :content, placeholder: t(".placeholder_content"),
    class: "txt-post form-control", required: true %>
  </div>
  <%= f.submit t(".post"), class: "btn btn-primary", id: "create-post" %>
<% end %>
