<% post ||= @post %>
<li class="post" id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="timestamp">
    <%= t ".posted" %> <%= time_ago_in_words post.created_at %>
    <%= t ".ago" %>.<br>

    <% post.tags.each do |tag| %>
    <%= link_to tag do %>
    <span class="label label-primary"><%= tag.name %></span>
    <% end %>
    <% end %>
  </span>
  <span class="title">
    <%= link_to post.title, post %>
  </span>
  <div class="content">
    <%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>
  </div>

  <%= render "posts/post_action", post: post %>

  <% if user_signed_in? %>
  <% if post.user.is_user? current_user or current_user.is_admin? %>
  <div class="dropdown delete">
    <button class="btn dropdown-toggle btn-dropdown" type="button" data-toggle="dropdown">
      <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <a class="edit-post" id="<%= post.id %>">edit</a>
        </li>
        <li>
          <a class="delete-post" id="<%= post.id %>">delete</a>
        </li>
      </ul>
    </div>
    <% end %>
    <% end %>

    <div class="comment-area">
      <div class="post-comment" id="<%= "post-comment-" << post.id.to_s %>">
        <% if post.comments.any? %>
        <% @comments = post.comments %>
        <%= render @comments %>
        <% end %>
      </div>

      <% if user_signed_in? %>
      <% @comment = current_user.comments.build user_id: current_user.id, post_id: post.id %>
      <%= render "shared/comment_form" %>
      <% end %>
    </div>
  </li>
