<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <%= link_to t("app_name"), root_path, class: "logo" %>
      <% if user_signed_in? %>
        <%= form_tag search_path, method: :get, class: "navbar-form navbar-left form-inline" do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], placeholder: "Search anything...",
              class: "search-form form-control input-sm" %>
          </div>
          <%= submit_tag "Search", class: "btn hidden" %>
        <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li>
          <%= link_to gravatar_for(current_user, 25) << current_user.name, current_user %>
        </li>
        <li><%= link_to t(".help"), help_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t ".account" %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
          <% if current_user.is_admin? %>
            <li><%= link_to "Admin statistics", admin_path %></li>
            <li><%= link_to "Manage users", users_path %></li>
          <% end %>
            <li><%= link_to t(".settings"), edit_user_registration_path %></li>
            <li class="divider"></li>
            <li>
              <%= link_to t(".sign_out"), sign_out_path, method: :delete %>
            </li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to t(".help"), help_path %></li>
        <li><%= link_to t(".log_in"), sign_in_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
